{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>CMMC Handler Portal</title>
    <link rel="stylesheet" href="{% static 'policies/styles.css' %}">
    <script>
        function toggleDropdown(id) {
            var element = document.getElementById(id);
            if (element) {
                element.classList.toggle("show");
            }
        }
    </script>
</head>
<body>
    <div class="header">
        <div>
            <p>Revision</p>
            <select id="revision-select">
                {% for revision in revisions %}
                    <option value="{{ revision.id }}">{{ revision.version }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <p>Assessment</p>
            <select id="assessment-select">
                {% for assessment in assessments %}
                    <option value="{{ assessment.id }}">{{ assessment }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="major_sections_container">
        <ul>
            {% for major_section in major_sections %}
            <li onclick="toggleDropdown('minor-{{ major_section.id }}')">
                {{ major_section }}
                <ul id="minor-{{ major_section.id }}" class="minor_sections">
                    {% for minor_section in major_section.minor_section_set.all %}
                    <li>{{ minor_section }}</li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>


