.icon {
  width: rem(22px);
  height: rem(22px);
}

.dark {
  @mixin dark {
    display: none;
  }

  @mixin light {
    display: block;
  }
}

.light {
  @mixin light {
    display: none;
  }

  @mixin dark {
    display: block;
  }
}

.colored_underline {
  height: rem(2px);
  margin: rem(8px) rem(64px);
  background-color: var(--mantine-color-blue-6);
}
